.Welcome{
  display: flex;
  justify-content: center;

}



.Button{
  display: flex;
  justify-content: center;
 
  width: 120px;
}

.ant-btn.ant-btn-lg {
  border-radius: 10%;
}

.footer{
  display: flex;
  align-items:baseline ;
  justify-content: center;
  margin-top: 40%;
  
}

.titlemain{
  display: flex;
  justify-content: center; 
}

.injury-type{
  display: flex;
  justify-content: center; 
}

.injury-cards{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around 100px !important
}

.Login{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  /* justify-content: space-evenly; */
  /* flex-wrap: inherit; */
  align-content: center;
  /* align-items: flex-end; */
  flex-direction: column;

}
.SignUp{
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 38%; */
  /* justify-content: space-evenly; */
  /* flex-wrap: inherit; */
  align-content: center;
  /* align-items: flex-end; */
  flex-direction: column;
}




/* .Card1{
  display: flex;
}

.Card2{
  display: flex;
} */